$color-OrangeBrick: #d87d4a;
$color-orangeBrick: #fbaf85;
$color-black: #101010;
$color-Black: #000000;
$color-White: #ffffff;
$color-white: #fafafa;
$color-grey: #f1f1f1;
$color-Grey: #cfcfcf;
$color-darkGrey: #535353;

$screen-large: 1010px;
$screen-medium: 950px;
$screen-small: 580px;
$screen-smallest: 280px;
